*
{
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
}

body
{
    background-color: #efefef;
    font-family: sans-serif;
}

input[type=text]
{
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0  20px 0 #999;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    position:relative;
}

form
{
    margin: 25px;
}

input[type=input-field]
{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
input[type=textarea-field]
{
    height: 150px;
    padding-top: 10px;
}

input[type=submit]
{
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
    margin-left: 700px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
